.boton {
     display: inline-block;
     padding: 10px 20px;
     background-color: #007BFF;
     color: white;
     text-decoration: none;
     border-radius: 5px;
     text-align: center;
 }

 .boton:hover {
     background-color: #0056b3;
 }

 .accordion-item{
   background-color: #0056b3;
 }
